<template>
  <v-layout align-space-around justify-space-around column fill-height ma-5 pa-5>
    <v-flex xs6 sm6 ma-5 pa-5>
      <v-form ref="form" v-model="valid" lazy-validation>
        <v-text-field
          v-model="username"
          :rules="valueRules"
          :counter="10"
          label="Login"
          required
          prepend-icon="person"
          type="text"
        ></v-text-field>
        <v-text-field
          v-model="password"
          :rules="valueRules"
          :counter="10"
          label="Password"
          required
          prepend-icon="lock"
          type="password"
        ></v-text-field>
        <v-btn
          :disabled="!valid"
          @click="login"
        >
          submit
        </v-btn>
        <v-btn @click="clear">clear</v-btn>
      </v-form>
    </v-flex>
  </v-layout>
</template>

<script>
  import axios from 'axios'

  export default {
    name: 'login',
    data () {
      return {
        username: 'root',
        password: 'root',
        valid: true,
        valueRules: [
          v => !!v || 'Value is required',
          v => (v && v.length <= 10) || 'Value must be less than 10 characters'
        ]
      }
    },
    methods: {
      login: function () {
          console.log('login: ' + this.username + ' : ' + this.password)
          this.$router.push('/')
      },
      clear () {
        this.$refs.form.reset()
      }
    }
  }
</script>
