<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Batch Processing Tool</title>
    <link rel="icon" th:href="@{/img/favicon.png}" type="image/x-icon"/>
    <link rel="shortcut icon" th:href="@{/img/favicon.png}" type="image/x-icon"/>
    <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.min.css" rel="stylesheet">
  </head>
  <body>
    <div th:id="app"></div>
    <script th:src="@{/js/build.js}"></script>
  </body>
</html>