<template>
  <div>
    <loading v-if="loading"/>
    <div >
      <cards-container />
    </div>
    <div >
      <login/>
    </div>
  </div>
</template>

<script>
  import { mapGetters } from 'vuex'
  import Login from '../login/Login.vue'
  import CardsContainer from './CardsConteiner.vue'

  export default {
    components: {
      Login,
      CardsContainer
    },
    name: 'home'
  }
</script>
