<template>
  <v-card color="grey lighten-4" class="black--text">
    <v-card-title primary-title>
        <div class="headline">{{ company }}</div>
    </v-card-title>

    <v-list two-line>
      <v-list-tile>
        <v-list-tile-content>
          <v-list-tile-title>Status:</v-list-tile-title>
        </v-list-tile-content>
        <v-list-tile-action>
          <v-list-tile-title>{{ statistic.status.toLowerCase() }}</v-list-tile-title>
        </v-list-tile-action>
      </v-list-tile>
      <v-divider/>

      <v-list-tile>
        <v-list-tile-content>
          <v-list-tile-title>Scheduling Time:</v-list-tile-title>
        </v-list-tile-content>
        <v-list-tile-action>
          <v-list-tile-title>{{ statistic.schedulingTimeHours }}:{{ statistic.schedulingTimeMinutes }}</v-list-tile-title>
        </v-list-tile-action>
      </v-list-tile>
      <v-divider/>

      <v-list-tile>
        <v-list-tile-content>
          <v-list-tile-title>Running Time:</v-list-tile-title>
        </v-list-tile-content>
        <v-list-tile-action>
          <v-list-tile-title>{{ statistic.runningTimeInMs }}s</v-list-tile-title>
        </v-list-tile-action>
      </v-list-tile>
      <v-divider/>

      <v-list-tile>
        <v-list-tile-content>
          <v-list-tile-title>Completed Percents:</v-list-tile-title>
        </v-list-tile-content>
        <v-list-tile-action>
          <v-list-tile-title>{{ statistic.overallCompletedPercents }}%</v-list-tile-title>
        </v-list-tile-action>
      </v-list-tile>
    </v-list>

      <v-card-actions>
        <v-btn icon @click="start"><v-icon>play_arrow</v-icon></v-btn>
        <v-btn icon @click="stop"><v-icon>stop</v-icon></v-btn>
        <v-spacer></v-spacer>


        <v-dialog v-model="dialog" fullscreen hide-overlay transition="dialog-bottom-transition">

          <v-btn slot="activator" icon>
            <v-icon>keyboard_arrow_down</v-icon>
          </v-btn>

          <v-card>
            <v-toolbar dark color="primary">
              <v-btn icon dark @click.native="dialog = false">
                <v-icon>close</v-icon>
              </v-btn>
              <v-toolbar-title>Metadata</v-toolbar-title>
            </v-toolbar>
            <v-divider></v-divider>
            <v-data-table
                    :headers="headers"
                    :items="statistic.tablesMetadata"
                    hide-actions
                    class="elevation-1"
            >
              <template slot="items" slot-scope="props">
                <td>{{ props.item.tableInfo.name }}</td>
                <td class="text-xs-right">{{ props.item.tableInfo.schema }}</td>
                <td class="text-xs-right">{{ props.item.columnsCount }}</td>
                <td class="text-xs-right">{{ props.item.columnsProcessed }}</td>
                <td class="text-xs-right">{{ props.item.completedPercents.slice(0, 4) }}</td>
                <td class="text-xs-right">{{ props.item.processingTimeInMs }}</td>
                <td class="text-xs-right">{{ props.item.errors }}</td>
              </template>
            </v-data-table>
          </v-card>

        </v-dialog>
      </v-card-actions>

  </v-card>
</template>

<script>
  import axios from 'axios'

  export default {
    name: 'Card',
    props: {
      company: String,
      statistic: Object
    },
    data: () => ({
      dialog: false,
      show: false,
      headers: [
        {
            text: 'Table Name',
            align: 'left',
            sortable: true,
            value: 'tableInfo.name'
        },
        { text: 'Table Schema', value: 'tableInfo.schema' },
        { text: 'Columns Count', value: 'columnsCount' },
        { text: 'Columns Processed', value: 'columnsProcessed' },
        { text: 'Completed Percents', value: 'completedPercents' },
        { text: 'Processing Time (sec)', value: 'processingTimeInMs' },
        { text: 'Errors', value: 'errors' }
      ]
    }),
    methods: {
      stop: function () {
        axios.get('/livedata/stopProcess/' + this.company)
            .then(response => {
                console.log(response)
            }).catch(e => {
                console.log(e)
            })
      },
      start: function () {
        axios.get('/livedata/startProcess/' + this.company)
            .then(response => {
                console.log(response)
            }).catch(e => {
                console.log(e)
            })
      }
    }
  }
</script>
