<template>
  <v-container grid-list-md text-xs-center>
    <v-layout row wrap>
      <v-flex v-for="el in source" :key="el.company" md4>
        <card
                v-bind:company="el.company"
                v-bind:statistic="el.statistic"
        >
    </card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import Card from './Card.vue'

export default {
  components: { Card },
  name: 'NavPanel',
  props: {
    source: Array
  }
}
</script>
