<template>
    <div id="app">
        <navigation/>
        <div>
            <center-container>
                <router-view/>
            </center-container>
        </div>
    </div>
</template>

<script>
    import Navigation from './components/navigation/Navigation.vue'
    import CenterContainer from "./components/lib/CenterContainer.vue";

    export default {
        components: { CenterContainer, Navigation },
        name: 'app'
    }
</script>