<template>
  <div class="navigation">
    <v-toolbar dense>
      <v-btn icon>
        <v-icon>home</v-icon>
      </v-btn>
      <v-toolbar-title>!!!!Batch Processing Tool! Hello world!</v-toolbar-title>
      <v-spacer></v-spacer>

      <v-btn icon >
        <v-icon>close</v-icon>
      </v-btn>

      <v-btn icon >
        <v-icon>exit_to_app</v-icon>
      </v-btn>
    </v-toolbar>
  </div>
</template>

<script>
  import axios from 'axios'

  export default {
    name: 'navigation',
    methods: {
      logout: function () {
          console.log('logout')
          this.$router.push('/login')
      }
    }
  }
</script>
